<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Roboto 🤖</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <style>
        body {
            text-align: center;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            height: 100vh;
            align-items: center;
        }
        #transcription-container {
            width: 60%;
            margin: 20px auto;
        }
        #chat-box {
            border: 1px solid #ccc;
            padding: 10px;
            height: 400px;
            overflow-y: auto;
            background-color: #f9f9f9;
        }
        .message {
            padding: 5px 10px;
            border-radius: 10px;
            margin-bottom: 10px;
            width: fit-content;
            word-wrap: break-word;
            border: 1px solid #ccc;
        }
        .user-message {
            margin-left: auto;
            margin-right: 0;
            background-color: transparent;
        }
        .chatgpt-message {
            margin-right: auto;
            margin-left: 0;
            background-color: transparent;
        }
        button {
            padding: 10px 20px;
            margin: 5px;
            cursor: pointer;
        }
        #clear-chat {
            background-color: #ff4444;
            color: white;
            border: none;
        }
        .thinking-message {
            /* Styling for the thinking message */
            opacity: 0.8;
            font-style: italic;
        }
        #text-input-container {
            margin-top: 10px;
        }

        #user-text-input {
            padding: 10px;
            width: 80%;
            margin-right: 5px;
        }

        #send-message {
            padding: 10px 20px;
        }
    </style>
</head>
<body>
<div id="transcription-container">
    <h1>Voice Assistant Interface</h1>
    <button id="start-listening">Start Listening</button>
    <button id="stop-listening" style="display:none;">Stop Listening</button>
    <button id="clear-chat">Clear Chat</button>
    <div id="chat-box"></div>
    <div id="text-input-container">
    <input type="text" id="user-text-input" placeholder="Type your message here..." />
    <button id="send-message">Send</button>
</div>
</div>

<script>

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = jQuery.trim(cookies[i]);
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

     $(document).ready(function() {
        const csrftoken = getCookie('csrftoken');

        $.ajaxPrefilter(function(options, originalOptions, xhr) {
            if (!options.crossDomain) {
                xhr.setRequestHeader('X-CSRFToken', csrftoken);
            }
        });

        var chatBox = document.getElementById('chat-box');
        var clearChat = document.getElementById('clear-chat');
        var startListeningBtn = document.getElementById('start-listening');
        var stopListeningBtn = document.getElementById('stop-listening');

        var isProcessingCommand = false;
        var final_transcript = ''; // Global variable to store the final transcript
        var recognition;
        var sendMessageBtn = document.getElementById('send-message');
        var userInputField = document.getElementById('user-text-input');

        function sendUserMessage() {
            var userText = userInputField.value.trim();
            if (userText) {
                processTranscript(userText);
                userInputField.value = ''; // Clear the input field after sending
            }
        }

        // Attach the sendUserMessage function to the click event of the send button
        sendMessageBtn.addEventListener('click', sendUserMessage);

        // Attach the sendUserMessage function to the 'Enter' keypress event of the input field
        userInputField.addEventListener('keypress', function(event) {
            if (event.key === 'Enter') {
                event.preventDefault(); // Prevent the default action to avoid submitting the form
                sendUserMessage();
            }
        });

        // Set up logging
        function log(message) {
            console.log(message);
        }

        function showThinkingAnimation() {
            var thinkingDiv = document.createElement('div');
            thinkingDiv.id = 'thinking';
            thinkingDiv.classList.add('message', 'chatgpt-message', 'thinking-message');
            thinkingDiv.textContent = 'thinking';
            chatBox.appendChild(thinkingDiv);

            var ellipsis = '';
            var interval = setInterval(function() {
                if (ellipsis.length < 3) {
                    ellipsis += '.';
                } else {
                    ellipsis = '';
                }
                thinkingDiv.textContent = 'thinking' + ellipsis;
            }, 500);

            return interval; // Return the interval ID
        }

        // Initialize speech recognition if available
        if ('webkitSpeechRecognition' in window) {
            recognition = new webkitSpeechRecognition();
            recognition.continuous = true;
            recognition.interimResults = true;

            recognition.onstart = function() {
                log('Voice recognition started. Speak into the microphone.');
                startListeningBtn.style.display = 'none';
                stopListeningBtn.style.display = 'inline';
            };

            recognition.onerror = function(event) {
                log('Voice recognition error occurred: ' + event.error);
            };

            recognition.onend = function() {
                log('Voice recognition ended.');
                startListeningBtn.style.display = 'inline';
                stopListeningBtn.style.display = 'none';
            };

            recognition.onresult = function(event) {
                var interim_transcript = '';
                for (var i = event.resultIndex; i < event.results.length; ++i) {
                    if (event.results[i].isFinal) {
                        final_transcript += event.results[i][0].transcript;
                    } else {
                        interim_transcript += event.results[i][0].transcript;
                    }
                }
                log('Interim Transcript: ' + interim_transcript);
                log('Final Transcript: ' + final_transcript);

                // Display the interim transcript in the chat box
                var interimDiv = document.getElementById('interim-result');
                if (!interimDiv && interim_transcript !== '') {
                    interimDiv = document.createElement('div');
                    interimDiv.id = 'interim-result';
                    interimDiv.classList.add('message', 'user-message', 'interim');
                    chatBox.appendChild(interimDiv);
                }
                if (interimDiv) {
                    interimDiv.textContent = interim_transcript;
                }

                // Once the result is final, process it
                if (final_transcript.trim() !== '') {
                    if (interimDiv) {
                        interimDiv.remove(); // Remove the interim result
                    }
                    processTranscript(final_transcript);
                    final_transcript = ''; // Reset final_transcript after processing
                }
            };

        } else {
            log('Your browser does not support the Web Speech API');
        }

        clearChat.addEventListener('click', function() {
            log('Clear Chat clicked');
            chatBox.innerHTML = '';
            sessionStorage.removeItem('thread_id');
            sessionStorage.setItem('chatCleared', 'true'); // Set chatCleared flag
            log('Chat cleared and thread ID was removed.');
        });

        function processTranscript(transcript) {
            appendMessage(transcript, 'user-message');
            if (!isProcessingCommand) {
                isProcessingCommand = true;
                var thinkingInterval = showThinkingAnimation();

                var thread_id = sessionStorage.getItem('thread_id');
                var clear_chat = sessionStorage.getItem('chatCleared') === 'true';

                $.ajax({
                    url: '/voiceAI/process_command/',
                    type: 'POST',
                    data: JSON.stringify({
                        'transcript': transcript,
                        'tab_id': sessionStorage.getItem('tabId'),
                        'thread_id': thread_id,
                        'clear_chat': clear_chat, // Include the clear_chat flag
                    }),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function(response) {
                        log('Server response:', response);
                        appendMessage(response.message, 'chatgpt-message');
                        // Save the thread_id from the response into sessionStorage
                        if (response.thread_id) {
                            sessionStorage.setItem('thread_id', response.thread_id);
                        }
                    },
                    error: function(xhr, status, error) {
                        log('AJAX error:', status, error);
                    },
                    complete: function() {
                        clearInterval(thinkingInterval); // Stop animation
                        document.getElementById('thinking').remove(); // Remove the thinking message
                        isProcessingCommand = false;
                    }
                });

                if (clear_chat) {
                    sessionStorage.removeItem('chatCleared');
                }
            }
        }


        function appendMessage(text, className) {
            var messageDiv = document.createElement('div');
            messageDiv.classList.add('message', className);
            messageDiv.textContent = text;
            chatBox.appendChild(messageDiv);
            chatBox.scrollTop = chatBox.scrollHeight;
            sessionStorage.setItem('chatHistory', chatBox.innerHTML);
        }

         window.onload = function() {
            if (!sessionStorage.getItem('tabId')) {
            sessionStorage.setItem('tabId', Date.now() + Math.random().toString());
            }

            var tabId = sessionStorage.getItem('tabId');
            // Directly request a new thread ID from the backend upon page load
            $.ajax({
                url: '/voiceAI/new_thread/',
                type: 'GET',
                success: function(response) {
                    if (response.thread_id) {
                        sessionStorage.setItem('thread_id', response.thread_id);
                    }
                },
                error: function(xhr, status, error) {
                    log('Error fetching new thread ID:', status, error);
                }
            });

            var savedHistory = sessionStorage.getItem('chatHistory');
            if (savedHistory) {
                chatBox.innerHTML = savedHistory;
                chatBox.scrollTop = chatBox.scrollHeight;
            }
        };


         function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = jQuery.trim(cookies[i]);
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        startListeningBtn.addEventListener('click', function() {
            recognition.start();
        });

        stopListeningBtn.addEventListener('click', function() {
            recognition.stop();
        });
    });
</script>
</body>
</html>
